<div class="container" id="cards">

    <div class="row cards">
  
      <div class="col-md-12 row-title">
        <h1 class="text-center text-success">SNACKS</h1>
      </div>
  
      <div *ngFor="let snack of snacks" class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{ snack.img }}" alt="">
          <div class="card-body">
            <p class="card-text text-center lead">
              <a [routerLink]="snack.url" class="text-success">{{ snack.name | titlecase }}</a>
            </p>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>