<header>
    <div class="collapse " id="navbarHeader">
      <div class="container">
        <div class="row">
          <!-- <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div> -->
          <!-- <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-success shadow-sm">
      <!-- <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg> 
          <strong>Album</strong>
          Ships within Lagos
        </a>
        <p class="navbar-brand d-flex align-items-center">
          0810 298 4114
        </p>
        <p class="navbar-brand d-flex align-items-center">
          hello@darafoods.com
      </p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
      </div> -->
      <div class="col-sm text-white site-logo">
        <h4><a href="#">Supermarket@Home</a></h4>
        <!-- <img src="img/logo.png" alt=""> -->
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm text-white">
        <span class="small">0810 298 4114 | hello@darafoods.com</span>
      </div>
    </div>
  </header>
  
  <section id="navigation">
    <div>
        <ul class="nav justify-content-center">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Herbs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/herbs/culinary">Culinary Herbs</a>
                <a class="dropdown-item" routerLink="/herbs/medicinal">Medicinal Herbs</a>
                <a class="dropdown-item" routerLink="/herbs/spices">Spices</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vegetables
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/vegetables/fruits">Fruits</a>
                <a class="dropdown-item" routerLink="/vegetables/all-vegetables">All Vegetables</a>
                <a class="dropdown-item" routerLink="/vegetables/naija-vegetables">Naija Vegetables</a>
                <a class="dropdown-item" routerLink="/vegetables/fourteen-healthiest">14 Healthiest Vegetables</a>
              </div>
            </li>

            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seafood 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/seafood/fresh-fish">Fresh Fish</a>
                <a class="dropdown-item" routerLink="/seafood/fresh-shellfish">Fresh Fhellfish</a>
                <a class="dropdown-item" routerLink="/seafood/frozen-and-dried-seafood">Frozen & Dried Seafood</a>
              </div>
            </li> -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meats 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/meats/fresh-poultry">Fresh Poultry Meat</a>
                <a class="dropdown-item" routerLink="/meats/fresh-cow">Fresh Cow Meat</a>
                <a class="dropdown-item" routerLink="/meats/fresh-goat">Fresh Goat Meat</a>
                <a class="dropdown-item" routerLink="/meats/pig">Pig Meat</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food Cupboard 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/food-cupboard/cereal">Cereal </a>
                <a class="dropdown-item" routerLink="/food-cupboard/diary">Diary</a>
                <a class="dropdown-item" routerLink="grains.html">Grains</a>
                <a class="dropdown-item" routerLink="/food-cupboard/condiments">Condiment</a>
                <a class="dropdown-item" routerLink="/food-cupboard/pasta">Pasta</a>
                <a class="dropdown-item" routerLink="/food-cupboard/beverages">Beverage</a>
                <a class="dropdown-item" routerLink="/food-cupboard/drinks">Drinks</a>
                <a class="dropdown-item" routerLink="/food-cupboard/flour">Flour</a>
                <a class="dropdown-item" routerLink="/food-cupboard/oil">Oil </a>
                <a class="dropdown-item" routerLink="/food-cupboard/tubers">Tubers</a>
                <a class="dropdown-item" routerLink="/food-cupboard/salad-dressing">Salad Dressing</a>
                <a class="dropdown-item" routerLink="/food-cupboard/sausages-and-hot-dog">Sausages & Hot Dog</a>
              </div>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Store 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/gift-store/birthday-gift">Birthday Gift</a>
                <a class="dropdown-item" routerLink="/gift-store/wedding-gift">Wedding Gift</a>
                <a class="dropdown-item" routerLink="/gift-store/christmas-gift">Christmas Gift</a>
                <a class="dropdown-item" routerLink="/gift-store/special-occasion">Special Occasion</a>
              </div>
            </li>

            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Souvenir Store
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/souvenir-store/owanbe-souvenir">Owambe Souvenir</a>
                <a class="dropdown-item" routerLink="/souvenir-store/children-party-souvenir">Children Party Souvenir</a>
                <a class="dropdown-item" routerLink="/souvenir-store/professional-souvenir">Professionals Souvenir</a>
                <a class="dropdown-item" routerLink="souvenir-store/artisans-souvenir">Artisans' Souvenir</a>
              </div>
            </li> -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Restuarant@Home
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/restaurant/breakfast">Breakfast</a>
                <a class="dropdown-item" href="/restaurant/lunch-and-dinner">Lunch & Dinner</a>
                <a class="dropdown-item" href="/restaurant/snacks">Snacks</a>
                <a class="dropdown-item" href="/restaurant/soup">Soup</a>
              </div>
            </li>

          </ul>
      </div>
  </section>
