<div class="container" id="cards">

  <div class="row cards">

    <div class="col-md-12 row-title">
      <h1 class="text-center text-success">FRUITS</h1>
    </div>

    <div *ngFor="let fruit of fruits" class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="{{ fruit.img }}" alt="">
        <div class="card-body">
          <p class="card-text text-center lead">
            <a  class="text-success">{{ fruit.name }}</a>
          </p>
        </div>
      </div>
    </div>

  </div>
  
</div>